
<!DOCTYPE html>
{% extends 'blogis/base/base_site.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/blogis.css' %}">
    <title>Title</title>
</head>
<body>

{% block message %}
{% endblock %}


{% block content %}
<h2>Hello this is my First Django App 1</h2>

{% for day in days %}
        {% if day != 'Sunday' %}
            {{ day }} <br/>
        {% endif %}
    {% endfor %}

{% endblock content %}


</body>
</html>